extends /base.pug
block head
  style(type="text/css"): :stylus
    .page
      width: 90%
      margin: auto
      font-size: 24px
    .table
      margin-bottom: 1.5em
      border: 2px solid #000
    .trow
      display: grid
      grid-template: unquote("3em / .75fr repeat(8, 1fr)")
      border-bottom: 1px solid #000
      line-height: 1em
    .trow.td
      display: grid
      grid-template: unquote("3em 3em 3em / .75fr repeat(8, 1fr)")

    .th .cell { display:flex;justify-content: center;font-size:20px;font-weight:700;flex-wrap:wrap; }
    .cell {
      border: 1px solid #999
      display: flex
      align-items: center
      padding: 0 1em
    }
    @page {
      margin: 10mm 10mm 10mm 10mm
    }
block body
  +nbr(2)
  .mx-auto.page
    h1.mb-4 姓名：
    each r in [1]
      .table
        .trow.th
          .cell 週別
          .cell Scratch
          .cell 英文#[br]單字
          .cell RAZ
          .cell 英文#[br]講義
          .cell 橋梁書
          .cell OIKIDS
          .cell #[span OIKIDS]#[br]#[span 複習]
          .cell #[span 自由]#[br]#[span 學習]
        each n in [1,2,3,4,5,6]
          .trow.td
            .cell(style="grid-area:1 / 1 / span 3 / 1")
            each i in [2,3,4,5,6,7,8,9]
              .cell(style=`grid-area: 1 / ${i}`)
            each i in [2,3,4,5,6,7,8,9]
              .cell(style=`grid-area: 2 / ${i}`)
            each i in [2,3,4,5,6,7,8,9]
              .cell(style=`grid-area: 3 / ${i}`)

    //- 週間表
    //-each r in [1,2]
      div 開始日期: ________
      .table
        .trow.th
          .cell 星期
          .cell Scratch
          .cell 英文單字
          .cell RAZ
          .cell 英文講義
          .cell 小說
        each n in ["週一","週二","週三","週四","週五","週六","週日"]
          .trow
            .cell= n
            each i in [1,2,3,4,5]
              .cell
