include @/@servebase/pugutil/index.pug
div
  script(type="@plotdb/block"): include:lsc index.ls
  style(type="text/css"): include:stylus index.styl
  h3(t) title
  hr
  form.form(data-name="passwd")
    ._sudo-row
      ._sudo-col
        .form-group
          label(t) old
          //- https://goo.gl/9p2vKq Chrome complains if no type text username field provided.
          input.d-none(name="username",type="text",autocomplete="username")
          input.form-control(name="oldpasswd",type="password",autocomplete="current-password")
          .invalid-feedback(t) nomatch
      ._sudo-col
        .form-group
          label(t) forget
          .btn.btn-outline-dark.btn-block.ld-ext-right(ld="send-reset-link")
            +i.i-mail.d-none.d-sm-inline
            span.mx-1.text-nowrap(t) send
            .ld.ldld.bare.em-1
    .row
      .col-md-8
        .form-group
          label(t) new
          input.form-control(name="newpasswd1",type="password",autocomplete="new-password")
          .invalid-feedback(t) weak
      .col-md-4
        .form-group.pt-2(data-node="passwd-bar1")
          label.text-sm.text-muted.text-capitalize.mb-1(t="str")
          .progress(style="height:36px"): .progress-bar.progress-bar-striped(style="width:0%")
    .row
      .col-md-8
        .form-group
          label(t) again
          input.form-control(name="newpasswd2",type="password",autocomplete="new-password")
          .invalid-feedback(t) nomatch
        .btn.btn-primary.btn-block.mb-4.ld-ext-right(ld="update-password")
          span.mr-1(t) update
          .ld.ldld.bare.em-1
        .text-muted: small
          p(t) hint.0
          p #[span(t) hint.1.0] #[a(href="https://en.wikipedia.org/wiki/Password_strength",target="_blank",rel="noopener noreferrer") Password Strength] #[span(t) hint.1.1]
      .col-md-4 &nbsp;
