._sudo-row
  display: flex
  margin: 0 -15px
  ._sudo-col:first-child
    width: 66.66667%
    padding: 0 15px
  ._sudo-col:last-child
    width: 33.33333%
    padding: 0 15px

@media (max-width: 768px)
  ._sudo-row
    ._sudo-col:first-child, ._sudo-col:last-child { width: 50% }
