.base
  width: 800px
  max-width: 90%
  height: 600px
  max-height: 90%

[ld=info]
  position: absolute
  bottom: 1em
  right: 1em
  background: #fff
  border-radius: .25em
  background: #fff
  padding: .5em

[ld=close]
  position: absolute
  top: .25em
  right: .5em
  cursor: pointer

video
  width: 100%
  height: 100%
