.ldcv: .base: .inner.position-relative
  script(type="@plotdb/block"): include:lsc index.ls
  style(type="text/css"): include:stylus index.styl
  video(ld="video")
  .text-lg(ld="close",data-ldcv-set=""): i.i-close
  .d-none(ld="info")
    .text-sm(ld="isbn")
    .btn-group
      .btn.btn-lg.btn-outline-secondary(ld="title")
      .btn.btn-lg.btn-primary(ld="get") 確定
