div
  script(type="@plotdb/block"): include:lsc index.ls
  style(type="text/css"): include:stylus index.styl
  .ldcv.scroll(plug="widget")
    .base: .inner.card: .card-body.text-center.p-0
      div
        .text-left.p-3.d-flex
          .flex-grow-1
            .mb-2 #[span(t) continue] #[span ...]
            h4.m-0(t) make sure
          div: i.i-close(data-ldcv-set="")
        .flex-grow-1
          object.d-none.w-100.h-100.flex-grow-1.border.mb-2(ld="link",data="about:blank",type="application/pdf")
            embed.w-100.border(ld="link",src="about:blank",type="application/pdf")
          .border-top.border-bottom.w-100
            iframe.d-none.w-100.flex-grow-1.mb-2.border-0(title="consent-document",ld="link",src="about:blank")
        .foot
          .btn.btn-lg.btn-outline-primary(t,data-ldcv-set="") no
          .btn.btn-lg.btn-outline-primary(t,data-ldcv-set="true") yes
          .space
          a.btn.btn-lg.btn-link(
          ld="link",href="",t,target="_blank",rel="noreferrer noopener") open
