div
  data(plug="content")
    h1(t) title
    p(t) desc
    br
    .m-auto.text-left.text-muted
      p #[span(t) p.0] #[a(href="#",onclick="lda.ldcvmgr.toggle('contact')",t) contact] #[span(t) p.1]
  data(plug="cta")
    br
    .row
      .col-md.mb-2: .btn.btn-outline-dark.btn-block.btn-lg.mr-2(onclick="lda.ldcvmgr.toggle('contact')",t) contact
      .col-md: .btn.btn-primary.btn-block.btn-lg.mr-2(data-ldcv-set="",t) close

  script(type="@plotdb/block"): :lsc
    module.exports =
      pkg:
        extend: {ns: \local, name: \error, path: \common.html}
        i18n:
          en:
            "title": "Access denied"
            "desc": "You don't have sufficient permissions for this action"
            "p": [
              "The action you attempted requires specific permissions. Please check to see if you have the appropriate permissions, and try again. Or you can"
              "to see if there is anything we can help."
            ]
            contact: "contact us"
            close: "Close Dialog"
          "zh-TW":
            "title": "存取被拒"
            "desc": "您沒有足夠的權限進行剛剛的動作，所以動作未完成"
            "p": [
              "剛剛的動作需要特定的權限才能進行。您可以確認看看是否您已取得適當的權限，然後再試一次看看是否會有所好轉，或者"
              "看看是否有什麼是我們可以幫上忙的。"
            ]
            contact: "聯繫我們"
            close: "關閉對話框"
