.ldcv.ldcvmgr.scroll(data-name="not-yet-available",data-lock="true"): .base.w-640.rwd: .inner.card
  .card-body.text-center: .p-4
    h1(t) title
    p(t) desc
    br
    .m-auto.text-left.text-muted
      p(t)
        span p.0
        a(href="#",onclick="lda.ldcvmgr.toggle('contact')") contact
        span p.1
      br
      .row
        .col-sm: a.btn.btn-primary.btn-block.btn-lg.mb-2(t, href="/") home
        .col-sm: a.btn.btn-outline-secondary.btn-block.btn-lg.mb-2(data-ldcv-set="", t) close
  script(type="@plotdb/block"): :lsc
    module.exports = pkg: i18n:
      en:
        "title": "Feature not Available"
        "desc": "The feature you want to use is not available for now"
        "p": [
          "Sorry! This feature is not yet available (or has closed). You may have stumbled upon it by accident, but if you think this doesn't match the information provided by the service, please"
          "directly and let us help you."
        ]
        home: "Go Back"
        close: "Close Dialog"
        contact: "Contact Us"
      "zh-TW":
        "title": "這個功能尚未開放"
        "desc": "您想使用的這個功能目前還沒有開放使用"
        "p": [
          "很抱歉！這個功能尚未開放 ( 或者，已經結束了 ) 。您可能是不小心走進來的，但若您覺得這個狀況與服務內提供的資訊不符，請"
          "讓我們來為您解答。"
        ]
        home: "回首頁"
        close: "關閉對話框"
        contact: "聯繫我們"
