.ldcv.scroll.autogap(data-lock="true"): .base.w-640.rwd: .inner
  .text-center.mb-4
    h1(t) title
    p.text-muted(t) desc
  .m-auto.text-left
    p
      span(t) detail.0
      a.clickable.mx-1(t,href="#",ld="reset") detail.1
      span(t) detail.2
  br
  .row
    .col-md.mb-2: .btn.btn-outline-dark.btn-block.btn-lg(t,ld="reset") reset
    .col-md.mb-2: .btn.btn-outline-dark.btn-block.btn-lg.mr-2(onclick="lda.ldcvmgr.toggle('contact')",t) contact

  script(type="@plotdb/block"): :lsc
    console.log(123);
    module.exports =
      pkg:
        i18n:
          en:
            title: "Login Issue"
            desc: "Please check following suggestions"
            detail: [
              "We can't parse the session data stored in your browser, hence the server can't locate your account details. To help you resolve this issue, please first try logging in again with "
              "this reset link"
              "; if this keeps on happening, please try logging in with browser's incognito mode. To enter incognito mode, you can find and open a new tab through options such as 'Incognito Mode', 'Privacy Mode', or 'Private Mode' in your browser's menu"
            ]
            contact: "contact us"
            reset: "Reset Link"
          "zh-TW":
            title: "登入異常"
            desc: " 請您嘗試以下建議來排除登入障礙"
            detail: [
              "我們無法解析您瀏覽器中儲存的登入資訊，因此主機沒辦法正確取得您的帳號資訊。為了協助您排除這個問題，請您先嘗試透過"
              "這個重設連結"
              "再次登入；如果仍發生類似的錯誤，則請您嘗試使用瀏覽器的無痕模式登入。要啟動瀏覽器的無痕模式，可以在瀏覽器的選單中尋找並透過「無痕模式」、「隱私模式」或「私人模式」的選項開啟新頁籤。"
            ]
            contact: "聯繫我們"
            reset: "重設連結"

      interface: -> @ldcv
      init: ({root}) ->
        @ldcv = new ldcover root: root
        @view = new ldview root: root, action: click: reset: ({node}) ~> servebase.reset!
