extends /base.pug
block head
  style(type="text/css"): :stylus
    html, body { height: 100%; width: 100% }
block body
  include /modules/navtop.pug
block script
  +script({name: "@servebase/auth", path: "route.min.js"})
  script(type="module"): :lsc
    ({core}) <- ldc.register <[core navtop]>, _
    <- core.init!then _
    core.auth.route!
