.ldcv.d-flex.align-items-center.justify-content-center.scroll: .base.w-480.rwd: .card: .card-body
  include @/ldview/index.pug
  script(type="@plotdb/block"): include:lsc index.ls
  h3.text-center(t) title
  p(t) desc
  hr
  form.form.text-left.m-auto
    .form-group
      label(t) enter.old
      //- https://goo.gl/9p2vKq Chrome complains if no type text username field provided.
      input.d-none(name="username",type="text",autocomplete="username")
      input.form-control(name="oldpasswd",type="password",autocomplete="current-password")
      .invalid-feedback(t) enter.nomatch
    .from-group.mb-3
      label(t) enter.new
      input.form-control(name="newpasswd1",type="password",t,t-placeholder="enter.min",autocomplete="new-password")
      .invalid-feedback(t) enter.weak
    .from-group.mb-3
      label(t) enter.again
      input.form-control(name="newpasswd2",type="password",autocomplete="new-password")
      .invalid-feedback(t) enter.mismatch
    .form-group.mb-3.d-flex.g-3.align-items-center(data-node="passwd-bar1")
      label.text-capitalize(t="strength") &nbsp;
      .flex-grow-1.progress(style="height:18px"): .progress-bar.progress-bar-striped(style="width:0%")
    .btn.btn-success.btn-block.mt-2.disabled.ld-ext-right(ld="submit")
      span(t="setup")
      .ld.ldld.bare.em-1
    br
    .text-muted: small
      p(t) hint.0
      p
        span(t) hint.1.0
        a.mx-1(href="https://en.wikipedia.org/wiki/Password_strength",
        target="_blank",rel="noopener noreferrer",t) hint.1.1
        span(t) hint.1.2
  hr
  .text-right: .btn.btn-outline-secondary(t,data-ldcv-set="") skip
